.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background: #eee;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
}

.minimap {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background: #fff;
}

.guide {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: #ccc;
}
